* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    /* display: flexbox;
    overflow: hidden; */
}

/* Header */
header {
    background: white;
    display: flex;
    flex-direction: row;
    padding: 24px 8.5%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 3;
}
.menu-button {
    display: none;  
}
nav {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
}
nav a {
    color: #000;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    text-decoration: none;
}
.highlight {
    text-decoration-line: underline;
    text-decoration-color: #FFBF23;
}

/* Section 1 */
.section-one {
    position: relative;
}
.section-one img {
    width: 100%;
}
.hero {
    width: 50%;
    position: absolute;
    top: 32%;
    left: 8.5%;
}
.hero h1 {
    color: #000;
    font-family: Clash Grotesk;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 40px;
}
.hero button {
    padding: 14.5px 24px;
    background: #FFBF23;
    color: #000;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* Section 2 - FA is featured articles */
.section-two {
    padding: 0px 8.5%;
    margin-top: 64px;
}
.FA {
    
}
.FA h2 {
    color: #000;
    font-family: Clash Grotesk;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 24px;
}
.FA-3-buttons {
    margin-bottom: 56px;
}
.FA-button {
    padding: 14.5px 24px;
    background: #FFF;
    color: #000;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
}
.FA-button-yellow {
    background: #FFBF23;
    padding: 14.5px 24px;
    color: #000;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
}
/* cards in section 2 */
.FA-cardss {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.FA-cards img {
    /* width: 100%; */
    margin-bottom: 16px;
}
.date {
    color: #495057;
    font-family: "Proxima Nova", sans-serif;
    font-size: 12px;
}
.FA-h2 {
    color: #313131;
    font-family: Clash Grotesk;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    margin: 16px 0px;
}
.FA-subtext {
    width: 100%;
    color: #464E5F;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

/* Section 3 */
.section-three {
    padding: 104px 8.5%;
}
.third {
    position: relative;
}
.third img {
    width: 100%;
}
.third h3 {
    position: absolute;
    top: 50%;
    left: 18%;
    right: 18%;
    width: 69%;
    color: #FFF;
    text-align: center;
    font-family: Clash Grotesk;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
}

/* Section 4 */
.section-four {
    padding: 0px 8.5%;
    margin-bottom: 104px;
}
.line {
    
}
.line img {
    width: 100%;
}
.sr {
    /* align-items: center;
    align-content: center;
    justify-self: center;
    justify-content: center; */
}
.section-four h2 {
    color: #313131;
    font-family: Clash Grotesk;
    font-size: 56px;
    font-weight: 500;
}
.sr-cardss {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.sr-cards one
.sr-cards img {}
.sr-text-1 {
    width: 27%;
    position: absolute;
    top: 20%;
    left: 2%;
}
.sr-text-2 {
    width: 27%;
    position: absolute;
    top: 20%;
    left: 36.2%;
}
.sr-text-3 {
    width: 27%;
    position: absolute;
    top: 20%;
    left: 70.5%;
}
.sr-date {
    color: #FFF;
    font-family: "Proxima Nova", sans-serif;
    font-size: 12px;
}
.subhead {
    margin: 16px 0px;
    width: 70%;
    color: #FFF;
    font-family: Clash Grotesk;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}
.subtext {
    color: #FFF;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    background: #F5FAFF;
    display: flex;
    /* width: 1440px; */
    padding: 32px 8.5%;
    justify-content: space-between;
    /* align-items: center; */
    background: #1E1E1E;
    color: white;
    width: 100%;
}
.footer-left {
    width: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}
.footer-right p {
    color: #FFF;
    font-family: Clash Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-icons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}





/* Responsiveness @media queries */
/* mobile view - from 600px down*/
@media only screen and (max-width: 600px) { 
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header {
        background: white;
        display: flex;
        flex-direction: row;
        padding: 16px 0.5%;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 3;
    }
    .menu-button{
        display: flex;
    }
    nav{
        display: none;
        position: absolute;
    }
    .nav-logo {   width: 50%;  }
    .nav-logo img {  width: 100%;  }


    /* section 1 */
    .section-one {
        padding: 0px 0px;
    }
    .hero {
        width: 50%;
        position: absolute;
        top: 32%;
        left: 8.5%;
    }
    .hero h1 {
        color: #000;
        font-family: Clash Grotesk;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .hero button {
        width: 100%;
        padding: 14.5px 24px;
    }



    /* section 2 */
    .FA-cardss {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .date {
        color: #495057;
        font-family: "Proxima Nova", sans-serif;
        font-size: 12px;
    }
    .FA-h2 {
        width: 80%;
    }
    .FA-subtext {
        width: 80%;
    }

    /* Section 3 */



    /* Section 4 */
    .sr-cardss {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }



    /* .section-one {
        display: flex;
        flex-direction: column;
        padding: 0px 5%;
        padding-top: 50px;
        margin-top: 40px;
        margin-bottom: 48px;
        width: 100%;
    }
    .left-one {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        flex-shrink: 0;
    }
    .title {
        color: #000;
        font-family: Clash Grotesk;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: inline;
        flex-direction: row;
    }
    #decor {
        font-size: 32px;
    }
    .subtext-one {
        font-size: 16px;
    }
    .yellow-button {
        padding: 14.5px 10%;
        font-size: 18px;
        margin-bottom: 24px;
        margin-top: 8px;
        width: 100%;
    }
    .shop-now {
        display: flex;
        flex-direction: row;
        width: 100%
    }
    .right-one {
        width: 100%;
        margin-top: 48px;
    }
    .right-one img {
        width: 100%;
    }

/* sectiom 2 here */
.section-two {
    display: flex;
    flex-direction: column;
    background: #F5FAFF;
    width: 100%;
    padding: 0 5% ;
    padding-top: 40px;
    padding-bottom: 120px;
}
.left-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title-two{
    font-size: 24px;
}
.title-two-cover {
    margin-top: 0px;
}
.subtext-two {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    margin: 24px 0px ;
}
.learn-more {
    padding: 14.5px 20%;
    margin-bottom: 24px;
    width: 100%;
}
.right-two {
    width: 100%;
    margin-left: 0px;
    position: relative;
}
.views {
    width: 30%;
    position: absolute;
    top: 50%;
    left: -1.5%;
}
.clicks {
    width: 30%;
    position: absolute;
    top: 83%;
    left: 65%;
}
.interior-image{
    object-fit: fill;
    width: 85%;
    margin-left: 15%;
}

/* Section three */
.section-three {
    display: flex;
    flex-direction: column;
    padding: 40px 5%;
    gap: 24px;
    width: 100%
}
.left-three {   display: none;   }
.about {
    margin-top: 0px;
}
.left-three-down {
    width: 100%;
    display: flex;
    /* position: relative; */
}
.right-three {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bullet {
    padding-left: 5%;
    margin-top: 24px;
}
.view-project {
    padding: 14.5px 5%;
    margin-top: 32px;
    width: 100%;
} */

/* footer */

footer {
    display: flex;
    flex-direction: column;
    background: #F5FAFF;
    padding: 32px 5%;
    justify-content: center;
    background: #1E1E1E;
    color: white;
    width: 100%;
}
.footer-left {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-left img {
    width: 50%;
    margin-bottom: 24px;
}
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.footer-right p {
    font-size: 0.75rem; /* 12px */
}
.footer-icons {
    gap: 0.5rem; /* 8px */
}


}







