@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    /* padding: 0px 120px; */
}
h1, h2, h3, h4, h5, h6 {
    font-family: "ClashGrotesk";
}
.section-one {
    display: flex;
    flex-direction: row;
    padding: 0px 120px;
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}
.left-one {
    width: 50%;
}
.yellow-button {
    padding: 14.5px 24px;
    background: #FFBF23;
    color: black;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    /* font-family: Proxima Nova; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.right-one {
    width: 50%;
}
.section-two {
    display: flex;
    flex-direction: row;
    background: #F5FAFF;
    padding: 0px 120px;
}
.left-two {
    width: 50%;
}
.right-two {
    width: 50%;
    /* position: absolute; */
}
.view {
    width: ;
    left: ;
}
.clicks {
    width: ;
}
.section-three {
    display: flex;
    flex-direction: row;
    padding: 0px 120px;
}
.left-three {
    width: 50%;
}
.right-three {
    width: 50%;
}
footer {
    display: flex;
    flex-direction: row;
    background: #F5FAFF;
    display: flex;
    /* width: 1440px; */
    padding: 32px 120px;
    justify-content: space-between;
    /* align-items: center; */
    background: #1E1E1E;
    color: white;
}
.footer-left {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-right {
    width: ;
    display: flex;
    flex-direction: column;
    justify-content: left;
}