
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flexbox;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "ClashGrotesk";
}
/* Navigation bar */
nav {
    background: white;
    display: flex;
    flex-direction: row;
    padding: 24px 8.5%;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 3;
}
.nav-logo {
    /* width: ; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-button {
    display: none;  
}
.right-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
}
.right-nav span {
    color: #000;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#sign-up {
    color: #FFA800;
}
/* Section one */
.section-one {
    display: flex;
    flex-direction: row;
    padding: 0px 8.5%;
    padding-top: 183px;
    padding-bottom: 104px;
    width: 100%;
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}
.left-one {
    /* width: 50%; */
    display: flex;
    /* width: 581px; */
    width: 55%;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
}
.title {
    color: #000;
    font-family: Clash Grotesk;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline;
    flex-direction: row;
    /* margin-top: 122.5px;
    margin-bottom: 24px; */
}
#decor {
    color: #FFA800;
    font-family: Clash Grotesk;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.subtext-one {
    color: #000;
    font-family: "Proxima Nova", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 150%;
    width: 90%; 
}
.yellow-button {
    padding: 14.5px 24px;
    background: #FFBF23;
    color: #000;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-top: 40px;
    margin-bottom: 56px; */
}
.shop-now {
    display: flex;
    width: 100%;
}
.shop-now img {
    width: 100%;
}
.right-one {
    width: 50%;
}
.right-one img {
    width: 100%;
}
/* Section two */
.section-two {
    display: flex;
    flex-direction: row;
    background: #F5FAFF;
    width: 100%;
    /* justify-content: space-between; */
    /* display: inline-flex; */
    padding: 64px 8.5% ;
    padding-bottom: 160px;
    /* align-items: center; */
    /* gap: 24px; */
}
.left-two {
    width: 50%;
    display: flex;
    /* width: 552px; */
    flex-direction: column;
    align-items: flex-start;
    /* gap: 32px; */
    
}
.title-two-cover {
    margin-top: 108.5px;
}
.title-two{
    color: #141414;
    font-family: Clash Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 48px */
    letter-spacing: 0.5px;
}
/* .left-two p {
    color: #3D3D3D;
    font-family: Proxima-Nova, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 27px
    width: 516px;
    margin: 32px 0px;
} */

.subtext-two {
    color: #3D3D3D;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    margin: 32px 0px ;
}

.learn-more {
    display: flex;
    padding: 14.5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #464E5F;
    background: none;
    /* margin-bottom: 108.5px; */
}
.right-two {
    /* width: 624px; */
    width: 50%;
    height: 50%;
    margin-left: 80px;
    position: relative;
    /* overflow: hidden; */
}
.views {
    width: 30%;
    position: absolute;
    top: 50%;
    left: -10%;
    
}
.clicks {
    width: 30%;
    position: absolute;
    top: 83%;
    left: 62%;
}
.interior-image{
    object-fit: fill;
    height: 100%;
    width: 100%;
}


/* Section three */
.section-three {
    display: flex;
    flex-direction: row;
    padding: 0px 8%;
    padding: 104px 126px;
    gap: 40px;
    width: 100%
}
.left-three {
    width: 50%;
    height: 50%;
    /* position: relative; */
}
.left-three img {
    width: 100%;
}
.left-three-down {
    width: 50%;
    display: none;
    /* position: relative; */
}
.left-three-down img {
    width: 100%;
}
/* .color-picker {
    position: absolute;
    left: 30px;
}
.profile-card {
    position: absolute;
    top: 120px;
    left: -10px;
} */
.right-three {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about {
    color: #141414;
    font-family: Clash Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.5px;
    margin-top: 50.5px;
    margin-bottom: 24px;
}
.right-three p {
    color: #292929;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.bullet {
    color: #3D3D3D;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-left: 5%;
    margin-top: 24px; 
}
.view-project {
    font-family: "Proxima Nova", sans-serif;
    display: flex;
    padding: 14.5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #464E5F;
    background: none;
    margin-top: 32px;
}
/* Footer */
footer {
    display: flex;
    flex-direction: row;
    background: #F5FAFF;
    display: flex;
    /* width: 1440px; */
    padding: 32px 8.5%;
    justify-content: space-between;
    /* align-items: center; */
    background: #1E1E1E;
    color: white;
    width: 100%;
}
.footer-left {
    width: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}
.footer-right p {
    color: #FFF;
    font-family: Clash Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-icons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

/* Responsiveness @media queries */
/* mobile view - from 600px down*/
@media only screen and (max-width: 600px) { 
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .menu-button{
        display: flex;
    }
    nav {
        background: white;
        display: flex;
        flex-direction: row;
        padding: 16px 20px;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 3;
    }
    .right-nav{
        display: none;
        position: absolute;
    }
    .nav-logo {   width: 50%;  }
    .nav-logo img {  width: 100%;  }
    .section-one {
        display: flex;
        flex-direction: column;
        padding: 0px 5%;
        padding-top: 50px;
        margin-top: 40px;
        margin-bottom: 48px;
        width: 100%;
    }
    .left-one {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        flex-shrink: 0;
    }
    .title {
        color: #000;
        font-family: Clash Grotesk;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: inline;
        flex-direction: row;
    }
    #decor {
        font-size: 32px;
    }
    .subtext-one {
        font-size: 16px;
    }
    .yellow-button {
        padding: 14.5px 10%;
        font-size: 18px;
        margin-bottom: 24px;
        margin-top: 8px;
        width: 100%;
    }
    .shop-now {
        display: flex;
        flex-direction: row;
        width: 100%
    }
    .right-one {
        width: 100%;
        margin-top: 48px;
    }
    .right-one img {
        width: 100%;
    }

/* sectiom 2 here */
.section-two {
    display: flex;
    flex-direction: column;
    background: #F5FAFF;
    width: 100%;
    padding: 0 5% ;
    padding-top: 40px;
    padding-bottom: 120px;
}
.left-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title-two{
    font-size: 24px;
}
.title-two-cover {
    margin-top: 0px;
}
.subtext-two {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    margin: 24px 0px ;
}
.learn-more {
    padding: 14.5px 20%;
    margin-bottom: 24px;
    width: 100%;
}
.right-two {
    width: 100%;
    margin-left: 0px;
    position: relative;
}
.views {
    width: 30%;
    position: absolute;
    top: 50%;
    left: -1.5%;
}
.clicks {
    width: 30%;
    position: absolute;
    top: 83%;
    left: 65%;
}
.interior-image{
    object-fit: fill;
    width: 85%;
    margin-left: 15%;
}

/* Section three */
.section-three {
    display: flex;
    flex-direction: column;
    padding: 40px 5%;
    gap: 24px;
    width: 100%
}
.left-three {   display: none;   }
.about {
    margin-top: 0px;
}
.left-three-down {
    width: 100%;
    display: flex;
    /* position: relative; */
}
.right-three {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bullet {
    padding-left: 5%;
    margin-top: 24px;
}
.view-project {
    padding: 14.5px 5%;
    margin-top: 32px;
    width: 100%;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    background: #F5FAFF;
    padding: 32px 5%;
    justify-content: center;
    background: #1E1E1E;
    color: white;
    width: 100%;
}
.footer-left {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-left img {
    width: 50%;
    margin-bottom: 24px;
}
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.footer-right p {
    font-size: 0.75rem; /* 12px */
}
.footer-icons {
    gap: 0.5rem; /* 8px */
}


}






/* Responsiveness @media queries */
/* tablet view - from 1100px to 600px*/
@media screen and (max-width: 1100px) and (min-width: 600px) { 
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav {    }
    .right-nav{    }
    .nav-logo {   width: 50%;  }
    .nav-logo img {  width: 100%;  }
    .section-one {
        display: flex;
        /* flex-direction: column; */
        padding: 0px 8.5%;
        padding-top: 50px;
        margin-top: 40px;
        margin-bottom: 48px;
        width: 100%;
    }
    .left-one {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        flex-shrink: 0;
    }
    .title {
        color: #000;
        font-family: Clash Grotesk;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: inline;
        flex-direction: row;
    }
    #decor {
        font-size: 40px;
    }
    .subtext-one {
        font-size: 16px;
    }
    .yellow-button {
        padding: 14.5px 5%;
        font-size: 18px;
        margin-bottom: 24px;
        margin-top: 8px;
        width: 100%;
    }
    .shop-now {
        display: flex;
        flex-direction: row;
        width: 100%
    }
    .right-one {
        width: 100%;
        margin-top: 48px;
    }
    .right-one img {
        width: 100%;
    }

/* sectiom 2 here */
.section-two {
    display: flex;
    /* flex-direction: column; */
    background: #F5FAFF;
    width: 100%;
    padding: 0 8.5% ;
    padding-top: 60px;
    padding-bottom: 90px;
}
.left-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title-two{
    font-size: 24px;
}
.title-two-cover {
    margin-top: 0px;
}
.subtext-two {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    margin: 24px 0px ;
    width: 90%;
}
.learn-more {
    padding: 14.5px 5%;
    width: 90%;
}
.right-two {
    width: 100%;
    margin-left: 0px;
    position: relative;
}
.views {
    width: 30%;
    position: absolute;
    top: 50%;
    left: -1.5%;
}
.clicks {
    width: 30%;
    position: absolute;
    top: 83%;
    left: 65%;
}
.interior-image{
    object-fit: fill;
    width: 85%;
    margin-left: 15%;
}

/* Section three */
.section-three {
    display: flex;
    padding: 40px 8.5%;
    gap: 24px;
    width: 100%
}
.left-three {
    display: flex;
    width: 50%;
}
.about {
    margin-top: 0px;
}
.left-three-down {
    display: none;
}
.right-three {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bullet {
    padding-left: 5%;
    margin-top: 24px;
}
.view-project {
    padding: 14.5px 5%;
    margin-top: 32px;
    width: 100%;
}

/* footer */

footer {
    display: flex;
}
.footer-left {
    width: 50%;
    display: flex;
}
.footer-left img {
    width: 50%;
}
.footer-right {
    display: flex;
}
.footer-right p {
    font-size: 1rem; /* 12px */
}
.footer-icons {   }


}