@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    /* padding: 0px 120px; */
}
h1, h2, h3, h4, h5, h6 {
    font-family: "ClashGrotesk";
}
/* Navigation bar */
nav {
    background: white;
    display: flex;
    flex-direction: row;
    padding: 24px 120px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 3;
}
.left-nav {
    
}
.nav-logo {
    width: ;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.right-nav span {
    color: #000;
    font-family: Proxima Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#sign-up {
    color: #FFA800;
}
/* Section one */
.section-one {
    display: flex;
    flex-direction: row;
    padding: 0px 120px;
    padding-top: 83px;
    padding-bottom: 104px;
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}
.left-one {
    /* width: 50%; */
    display: flex;
    width: 581px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
}
.title {
    color: #000;
    font-family: Clash Grotesk;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline;
    flex-direction: row;
    /* margin-top: 122.5px;
    margin-bottom: 24px; */
}
#decor {
    color: #FFA800;
    font-family: Clash Grotesk;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#subtext{
    color: #000;
    font-family: Proxima Nova;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.yellow-button {
    padding: 14.5px 24px;
    background: #FFBF23;
    color: #000;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    font-family: Proxima Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-top: 40px;
    margin-bottom: 56px; */
}
.shop-now {
    display: flex;
}
.right-one {
    width: 50%;
}
.right-one img {
    width: 100%;
}
/* Section two */
.section-two {
    display: flex;
    flex-direction: row;
    background: #F5FAFF;
    justify-content: space-between;
    display: inline-flex;
    padding: 64px 120px;
    align-items: center;
    gap: 24px;
}
.left-two {
    /* width: 50%; */
    display: flex;
    width: 552px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 32px; */
    
}
.title-two-cover {
    margin-top: 108.5px;
}
.title-two{
    color: #141414;
    font-family: Clash Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 48px */
    letter-spacing: 0.5px;
}
.left-two p {
    color: #3D3D3D;
    font-family: Proxima Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    width: 516px;
    margin: 32px 0px;
}
.learn-more {
    display: flex;
    padding: 14.5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #464E5F;
    margin-bottom: 108.5px;
}
.right-two {
    width: 624px;
    position: relative;
}
.views {
    /* width: ; */
    position: absolute;
    top: 190px;
    left: -50px;
    
}
.clicks {
    /* width: ; */
    position: absolute;
    bottom: -40px;
    right: 70px;
}
/* Section three */
.section-three {
    display: flex;
    flex-direction: row;
    padding: 0px 120px;
    padding: 104px 126px;
    gap: 40px;
}
.left-three {
    width: ;
    /* position: relative; */
}
/* .color-picker {
    position: absolute;
    left: 30px;
}
.profile-card {
    position: absolute;
    top: 120px;
    left: -10px;
} */
.right-three {
    /* width: 50%; */
    display: flex;
    width: 536px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 32px; */
}
.about {
    color: #141414;
    font-family: Clash Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 48px */
    letter-spacing: 0.5px;
    margin-top: 50.5px;
    margin-bottom: 24px;
}
.right-three p {
    color: #292929;
    font-family: Proxima Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.bullet {
    color: #3D3D3D;
    font-family: Proxima Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-top: 24px;
}
.view-project {
    display: flex;
    padding: 14.5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #464E5F;
}
/* Footer */
footer {
    display: flex;
    flex-direction: row;
    background: #F5FAFF;
    display: flex;
    /* width: 1440px; */
    padding: 32px 120px;
    justify-content: space-between;
    /* align-items: center; */
    background: #1E1E1E;
    color: white;
}
.footer-left {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}
.footer-right p {
    color: #FFF;
    font-family: Clash Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-icons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}